* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: DarkSlateBlue ;
    font-size: 62.5%;
}
.container {
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 5vh 0;
    overflow: hidden;
}
.container .slider_wrapper {
    display: grid;
    row-gap: 2rem;

}
.container .slider_wrapper .slides {
    max-height: 70vh;
    justify-self: center;
    overflow: hidden;
    grid-row-start: 1; 
    grid-row-end: 5; 
    grid-column-start: 1;   
    grid-column-end: 4; 

}
.container .slider_wrapper .slides .slides_content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 500%;
    transition: 0.5s;
}

.container .slider_wrapper .slides .slides_content .mem {
    max-width: 100%;
    max-height: 70vh;
    align-self: center;
    justify-self: center;
}
.container .slider_wrapper .subtitles {
    width: 500%;
    overflow: hidden;
    grid-row-start: 5; 
    grid-row-end: 6; 
    grid-column-start: 1;   
    grid-column-end: 3; 

}
.container .slider_wrapper .navigation {
    height: 1rem;
    justify-content: end;
    display: flex;
    grid-row-start: 5; 
    grid-row-end: 6; 
    grid-column-start: 3;   
    grid-column-end: 4; 
    z-index: 2;
    margin-right: 2rem;
}

.container .slider_wrapper input {
    display: none;
}
.container .slider_wrapper .navigation .navBar {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
    padding: 0.3rem;
    cursor: pointer;
}
.container .slider_wrapper .navigation .navBar:hover > .btn {
    opacity: 1;

  }

.container .slider_wrapper .navigation .navBar .btn {
    width: 0.7rem;
    height: 0.7rem;
    background-color: #fff;
    opacity: 0.5;
    border: none;
    border-radius: 100%;
}
.container .slider_wrapper .subtitles {
    overflow: hidden;
    width: 100%;
}
.container .slider_wrapper .subtitles .subtitles_content {
    max-height: 2.5rem;
    overflow: hidden;
    width: 500%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    transition: 0.5s;
}
.container .slider_wrapper .subtitles .subtitles_content .sub {
    font-size: 2rem;
    color: white;
    opacity: 0.5;
    margin-left: 2rem;
}


#R1:checked ~ .slides >.slides_content  {
    margin-left: 0;
}
#R1:checked ~ .subtitles >.subtitles_content  {
    margin-left: 0;
}
#R1:checked ~ .navigation >.navBar >.btn1  {
    border: 0.1rem solid white;
    background-color: transparent;
}


#R2:checked ~ .slides >.slides_content  {
    margin-left: -100%;
}
#R2:checked ~ .subtitles >.subtitles_content  {
    margin-left: -100%;
}
#R2:checked ~ .navigation >.navBar >.btn2  {
    border: 0.1rem solid white;
    background-color: transparent;
}


#R3:checked ~ .slides >.slides_content  {
    margin-left: -200%;
}
#R3:checked ~ .subtitles >.subtitles_content  {
    margin-left: -200%;
}
#R3:checked ~ .navigation >.navBar >.btn3  {
    border: 0.1rem solid white;
    background-color: transparent;
}


#R4:checked ~ .slides >.slides_content  {
    margin-left: -300%;
}
#R4:checked ~ .subtitles >.subtitles_content  {
    margin-left: -300%;
}
#R4:checked ~ .navigation >.navBar >.btn4  {
    border: 0.1rem solid white;
    background-color: transparent;
}


#R5:checked ~ .slides >.slides_content  {
    margin-left: -400%;
}
#R5:checked ~ .subtitles >.subtitles_content  {
    margin-left: -400%;
}
#R5:checked ~ .navigation >.navBar >.btn5  {
    border: 0.1rem solid white;
    background-color: transparent;
}

@media (max-width: 640px) {
    .container {
        max-width: 20rem;
    }
    .container .slider_wrapper .navigation {
        grid-row-start: 5; 
        grid-row-end: 6; 
        grid-column-start: 1;   
        grid-column-end: 4;
        justify-content: center;
        margin-right: 0;
    }
    .container .slider_wrapper .subtitles {
        grid-row-start: 6; 
        grid-row-end: 7; 
        grid-column-start: 1;   
        grid-column-end: 4;
        margin-left: 0;
    }
    .container .slider_wrapper .subtitles .subtitles_content .sub {
        margin: 0 auto;
    }

}